.item {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 300px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 20px 20px;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.avatar {
  width: 70px;
  height: 70px;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
